h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
.pp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 150px;
}
.navbar {
    width: 100%;
    overflow: auto;
  }
  .navbar a {
    float: left;
    padding: 0px;
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 18px;
    width: 33.33%; 
    text-align: center; 
  }